$color-accent: #ff841f;
$color-black: #181818;
$color-white: #FFFFFF;
$color-overlay: rgba($color: $color-black, $alpha: .75);

$hover-duration: 1s;
$error-duration: 1s;
$popup-duration: 1s;
$ticker-duration: 25s;
$onscreen-duration: 1s;
$menu-open-duration: 1s;
$testimonial-duration: 1s;
$page-transition-duration: .5s;

$onscreen-offset: 40px;
$hover-scale-icon: 1.25;
$hover-scale-image: 1.1;