@use '../partitials/config' as *;

.header {
   width: 100%;
   height: 80px;
   z-index: 100;
   background: $color-white;
   position: fixed;
   left: 0;
   top: 0;

   &__content {
      margin: 0 auto;
      max-width: 1280px;
      padding: 0 40px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__logo {
      width: 160px;
      height: 40px;
      cursor: pointer;
      background: url(../assets/icons/xfit-logo.svg) no-repeat;
   }

   &__navigation {
      display: flex;
      align-self: flex-start;
      justify-content: space-between;

      &-link {
         height: 80px;
         padding: 0 10px;
         cursor: pointer;
         background: $color-white;
         transition: background $hover-duration;

         font-weight: bold;
         color: $color-black;
         text-transform: uppercase;

         display: flex;
         flex-direction: column;
         justify-content: center;

         &:hover {
            background: $color-accent;
         }
      }
   }

   &__mobile-menu-button {
      width: 60px;
      height: 60px;
      display: none;
      cursor: pointer;
      transition: background $hover-duration;

      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-line {
         width: 40px;
         height: 6px;
         position: absolute;
         background: $color-black;

         &:nth-child(1) {
            transform: translateY(-15px);
         }

         &:nth-child(2) {
            transform: translateY(15px);
         }
      }

      &--open &-line:nth-child(1) {
         animation: line1-open $menu-open-duration forwards;
      }

      &--open &-line:nth-child(2) {
         animation: line2-open $menu-open-duration forwards;
      }

      &--open &-line:nth-child(3) {
         animation: line3-open $menu-open-duration forwards;
      }

      &--close &-line:nth-child(1) {
         animation: line1-close $menu-open-duration forwards;
      }

      &--close &-line:nth-child(2) {
         animation: line2-close $menu-open-duration forwards;
      }

      &--close &-line:nth-child(3) {
         animation: line3-close $menu-open-duration forwards;
      }
   }

   &__language {
      height: 80px;
      display: flex;
      flex-direction: column;
      background: $color-white;
      transition: height $menu-open-duration;
      overflow: hidden;

      &-item {
         height: 80px;
         display: flex;
         align-items: center;
         justify-content: center;
         padding: 0 10px;
         flex-shrink: 0;
         gap: 10px;

         cursor: pointer;
         transition: background $hover-duration;
         text-transform: uppercase;
         font-weight: bold;

         &-img {
            width: 20px;
            height: 20px;
            transition: transform calc($menu-open-duration / 2);
         }

         &:hover {
            background: $color-accent;
         }
      }

      &--open {
         height: 240px;
      }

      &--open &-item-img {
         transform: rotate(90deg);
      }
   }

   @include screen-width(1024px) {
      height: 60px;

      &__content {
         padding: 0 20px;
      }

      &__navigation {
         display: none;
      }

      &__button-signup {
         display: none;
      }

      &__mobile-menu-button {
         display: flex;
      }
   }

   @include screen-width(480px) {
      &__content {
         padding: 0 10px;
      }
   }

   @keyframes line1-open {
      0% {
         transform: translateY(-15px) rotate(0);
      }

      50% {
         transform: translateY(0);
      }

      100% {
         transform: rotate(45deg);
      }
   }

   @keyframes line2-open {
      0% {
         transform: translateY(15px) rotate(0);
      }

      50% {
         transform: translateY(0);
      }

      100% {
         transform: rotate(45deg);
      }
   }

   @keyframes line3-open {
      0% {
         transform: translateY(0) rotate(0);
      }

      50% {
         transform: translateY(0) rotate(0);
      }

      100% {
         transform: rotate(-45deg);
      }
   }

   @keyframes line1-close {
      0% {
         transform: translateY(0) rotate(45deg);
      }

      50% {
         transform: rotate(0);
      }

      100% {
         transform: translateY(-15px);
      }
   }

   @keyframes line2-close {
      0% {
         transform: translateY(0) rotate(45deg);
      }

      50% {
         transform: rotate(0);
      }

      100% {
         transform: translateY(15px);
      }
   }

   @keyframes line3-close {
      0% {
         transform: translateY(0) rotate(-45deg);
      }

      50% {
         transform: rotate(0);
      }

      100% {
         transform: translateY(0);
      }
   }
}