@use '../partitials/config' as *;

.history {
   background: url(../assets/images/gym.jpg) no-repeat fixed;
   background-position: center;
   background-size: cover;

   height: 768px;
   width: 100%;

   &__content {
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
   }

   &__title {
      color: $color-white;
      margin-bottom: 40px;
   }

   &__overlay {
      height: 100%;
      width: 100%;

      background: $color-black;
      opacity: .5;

      position: absolute;
      left: 0;
      top: 0;
   }

   &__button-play {
      width: 100px;
      height: 100px;
      cursor: pointer;
      transition: background $hover-duration;
      background: url(../assets/icons/play-white.svg) no-repeat;

      @media (hover: hover) {
         &:hover {
            background: url(../assets/icons/play-accent.svg) no-repeat;
         }
      }
   }
}